:root {
  --bg-color: rgb(17, 17, 17);
  --sec-bg: rgb(53, 53, 53);
  --accent-color: #35D0E3;
  --sec-accent-color: #FFE733;
  --tert-accent-color: #F2464F;
  --text-bg: rgb(0, 47, 82);
  --text-color: rgb(247, 242, 236);
  --cl-color: rgb(250, 245, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
